version: '2.4'
services:

  db:
    image: postgres:10.6
    environment:
      POSTGRES_USER: odoo
      POSTGRES_PASSWORD: odoo
      POSTGRES_DB: postgres
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - database:/var/lib/postgresql/data/pgdata

  runbot:
    image: ivantodorovich/runbot:13.0
    ports:
      - "80:8069"
    
    init: true
    tty: true
    stdin_open: true
    
    build:
      context: .
      args:
        INSTALL_ODOO: "true"

    environment:
      ADMIN_PASSWORD: admin
      PGDATABASE: runbot
      SERVER_WIDE_MODULES: web,runbot
      LOG_LEVEL: info
      WORKERS: 2
      PROXY_MODE: "true"
      LIMIT_TIME_CPU: 240
      LIMIT_TIME_REAL: 360
      LIMIT_TIME_REAL_CRON: 1800
      LIMIT_MEMORY_SOFT: 4294967296
      LIMIT_MEMORY_HARD: 4311744512

    depends_on:
      - db

    volumes:
      - filestore:/home/odoo/data
      - runbot-builds:/home/odoo/src/repositories/runbot/runbot/static/build
      - runbot-ssh:/home/odoo/.ssh
      # Docker in Docker
      - /var/run/docker.sock:/var/run/docker.sock
      # Timezone from host
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro


volumes:
  database:
  filestore:
  runbot-builds:
  runbot-ssh:
